* {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
}

.top-section {
    display: flex;
    align-items: left;
    gap: 25px;
}

#pfp-container img{
    display: block;
    max-width: 100%;
    height: 48px;
    border-radius: 50%;
    border: 4px solid hsl(264, 82%, 80%);
}

.important-testimonial-text {
    font-size: 25px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}

.daniel {
    display: block;
    max-width: 41%;
    height: 50%;
    background-color: hsl(263, 55%, 52%);
    margin: left;
    border-radius: 10px;
    padding: 25px;
    color: white;
    font-size: 13px;
    box-shadow: 15px 10px 15px hsla(219, 29%, 14%, 0.2);
}

.name{
    margin-top: 4px;
    font-size: 18px;
}

.container {
    margin: 125px;
    display: flex;
}


/* @media (max-width: 375px) {
    
    .container {
        margin: 20px;
    }

    .name {
        font-size: 12px;
    }

    .daniel {
        width: 80%;
        height: auto;
        margin-bottom: 20px;
        padding: 10%;
    }
} */