body {
    padding: 125px 110px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    background-color: hsl(214, 17%, 92%);
}

.top-section {
    display: flex;
    align-items: center;
    gap: 17px;
    margin-bottom: -5px;
    font-size: 13px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
}
    
.DANIEL {
    grid-column: span 2 / span 2;
    background: hsl(263, 55%, 52%) url("./images/bg-pattern-quotation.svg") no-repeat top right 80px;
    border-radius: 6px;
    padding: 30px;
    color: white;
    font-size: 13px;
    box-shadow: 15px 10px 15px hsla(219, 29%, 14%, 0.2);
}

.JONATHAN {
    grid-column-start: 3;
    background: hsl(217, 19%, 35%);
    border-radius: 6px;
    padding: 30px;
    color: white;
    font-size: 13px;
    box-shadow: 15px 10px 15px hsla(219, 29%, 14%, 0.2);
}

.KIRA {
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    background: white;
    border-radius: 6px;
    padding: 30px;
    font-size: 13px;
    box-shadow: 15px 10px 15px hsla(219, 29%, 14%, 0.2);
}

.JEANETTE {
    grid-row-start: 2;
    background-color: white;
    border-radius: 6px;
    padding: 30px;
}

.PATRICK {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
    background-color: hsl(219, 29%, 14%);
    border-radius: 6px;
    padding: 30px;
    color: hsl(0, 0%, 81%);
    font-size: 13px;
}

.pfp-container img{
    height: 32px;
    border-radius: 50%;
    border: 2px solid hsl(264, 82%, 80%);
}

.important-testimonial-text {
    font-size: 25px;
    font-weight: 600;
    padding: 0px 0px 20px 0px;
    padding-top: 5px;
}

.name{
    display: inline-block;
    margin-top: 4px;
    font-size: 14px;
}

.name p{
    margin-top: 3px;
    opacity: 0.5;
    font-size: 12px;
}

.quote {
    font-size: 15px;
    line-height: 22px;
}

.attribution {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: hsl(0, 0%, 7%);
    text-align: center;
}



@media (max-width: 900px) {
    body {
        padding: 50px 20px;
    }

    .parent {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .DANIEL{
        background: hsl(263, 55%, 52%);
    }
}


