* {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
}

.top-section {
    display: flex;
    align-items: left;
    gap: 25px;
}

#pfp-container img{
    display: block;
    max-width: 100%;
    height: 32px;
    border-radius: 50%;
    border: 3px solid hsl(264, 82%, 80%);
}

.important-testimonial-text {
    font-size: 25px;
    font-weight: 600;
    padding: 0px 0px 20px 0px;
}

.daniel {
    display: block;
    max-width: 45%;
    height: 50%;
    background-color: hsl(263, 55%, 52%);
    margin: left;
    border-radius: 10px;
    padding: 30px;
    color: white;
    font-size: 13px;
    box-shadow: 15px 10px 15px hsla(219, 29%, 14%, 0.2);
}

.jonathan {
    display: block;
    max-width: 25%;
    height: auto;
    background-color: hsl(217, 19%, 35%);
    margin: left;
    border-radius: 10px;
    padding: 30px;
    margin: 00px 40px 0px 40px;
    color: white;
}

.name{
    margin-top: -3.5px;
    font-size: 18px;
}
.name p{
    margin-top: 1.5px;
    font-size: 15px;
    color: hsl(0, 0%, 81%)
}

.container {
    margin: 125px;
    display: flex;
}

.quote-img {
    display: inline-block;
    margin-left: 25%;
    margin-top: -4.5%;
}

.quote {
    font-size: 15px;
    line-height: 22px;
}

#daniel-testes {
    margin-top: -32px;
}


@media (max-width: 1000px) {
    .container {
        flex-direction: column;
        margin: 25px;
    }

    .pfp-container {
        min-width: 48px;
    }

    .daniel {
        max-width: 100%;
        margin: 0px 0px 20px 0px;
    }

    .jonathan {
        max-width: 100%;
        margin: 0px 0px 20px 0px;
    }

    #daniel-testes {
        padding: 35px 0px 20px 0px;
    }

    .important-testimonial-text {
        font-size: 20px;
    }

    .quote {
        font-size: 13.5px;
        line-height: 18px;
        color: hsl(214, 17%, 92%)
    }

    .quote-img {
        display: none;
    }
}